<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
<div class="heder-con">
  <img class="logo-img" src="../img/brainstorm-skill.png" />
  <p>nlp <span>sentiment analyze</span></p>
</div>

            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="con-form" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value=""  placeholder="Enter URL">
                    <input id ="submitBtn"type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
<div id="loader" style="display:none;"></div>


<div id="results" style="display:none;" id="myDiv" class="animate-bottom">
  <h2 id="evluat_title"></h2>
  <p id="error"></p>
  <p id="score"></p>
  <p id="agreement"></p>
  <p id="subjectivity"></p>
  <p id="confidence"></p>
  <p id="irony"></p>
</div>

            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
