header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    
    .nav i{
        padding-top: 30px;
        padding-right: 5px;
    }
    a{
        text-decoration: none;
    }
}
.header-con{
    display: flex;
    justify-content:center;
    
    .logo-img{
        width: 100px;
    }
}
